<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>STUD REGISTRATION</h1>
    <form action="" method="POST">
        <label for="">enter ur name</label>
        <input type="text" name="fname"><br>
        <label for="">enter ur email</label>
        <input type="email" name="eml"><br>
        <label for="">enter phone no</label>
        <input type="number" name="phn"><br>
        <input type="submit" value="sign up"><br>
    </form>
    
</body>
</html>